{%- spaceless -%}
	{%- set route = app.request.attributes.get('_route') -%}

	<ul class="nav nav-pills nav-stacked">

		{%- if is_granted("ROLE_USER") -%}
			{%- if route == 'ccdn_user_user_account_show' or route == 'ccdn_user_user_account_edit' or route == 'fos_user_change_password' -%}
				<li class="active">
			{%- else -%}
				<li>
			{%- endif -%}
					<a rel="nofollow" href="{{- path('ccdn_user_user_account_show') -}}">
						<i class="icon-white icon-cog"></i>
						{{- 'link.account.view' | trans({}, 'CCDNUserUserBundle') -}}
					</a>
				</li>

		{%- else -%}
		{#
			{%- if route == 'fos_user_security_login' -%}
				<li class="active">
			{%- else -%}
				<li>
			{%- endif -%}
					<a rel="nofollow" href="{{- path('fos_user_security_login') -}}">
						<i class="icon-white icon-user"></i>
						{{- 'link.login' |trans({}, 'CCDNUserUserBundle') -}}
					</a>
				</li>


			{%- if route == 'fos_user_registration_register' or route == 'ccdn_user_user_registration_terms' -%}
				<li class="active">
			{%- else -%}
				<li>
			{%- endif -%}
					<a rel="nofollow" href="{{- path('fos_user_registration_register') -}}">
						<i class="icon-white icon-asterisk"></i>
						{{- 'link.register' |trans({}, 'CCDNUserUserBundle') -}}
					</a>
				</li>


			{%- if route == 'fos_user_resetting_request' -%}
				<li class="active">
			{%- else -%}
				<li>
			{%- endif -%}
					<a rel="nofollow" href="{{- path('fos_user_resetting_request') -}}">
						<i class="icon-white icon-lock"></i>
						{{- 'link.password.reset' |trans({}, 'CCDNUserUserBundle') -}}
					</a>
				</li>
		#}
		{%- endif -%}

	</ul>
{%- endspaceless -%}
