{% extends 'CCDNUserUserBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_user_user.security.login.layout_template  %}

{% block title %}{{- 'title.login'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{%- block tool_bar -%}{%- endblock tool_bar -%}


{% block body_content %}

	{%- spaceless -%}

		<br>
		<div class="col-md-12 clearfix">
	        <div class="col-md-6 well">
				<form action="{{- path('fos_user_security_check') -}}" method="post" role="form">
					<fieldset>
						<h4 class="lead">{{- 'title.login'|trans({}, 'CCDNUserUserBundle') -}}</h4>
						<br>
						{%- if error -%}
							<div class="alert alert-danger alert-block">
							    <ul>
									<li>{{- error -}}</li>
								</ul>
							</div>
						{%- endif -%}

					    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

						<div class="form-group">
							<label class="control-label" for="email">
								{{- 'form.label.email'|trans({}, 'CCDNUserUserBundle') -}}
							</label>

							<input class="form-control" type="text" id="username" name="_username" value="{{- last_username -}}" required="required"
							 placeholder="{{- 'security.login.username'|trans({}, 'FOSUserBundle') -}}" />
						</div>

						<div class="form-group">
							<label class="control-label" for="password">
								{{- 'form.label.password'|trans({}, 'CCDNUserUserBundle') -}}
							</label>

							<input class="form-control" type="password" id="password" name="_password" required="required"
							 placeholder="{{- 'security.login.password'|trans({}, 'FOSUserBundle') -}}" />
						</div>

						<div class="form-group">

							<label class="checkbox" for="remember_me">
								<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
								{{- 'security.login.remember_me'|trans({}, 'FOSUserBundle') -}}
							</label>

							<input type="submit" class="btn btn-primary" id="_submit" name="_submit"
							 value="{{- 'security.login.submit'|trans({}, 'FOSUserBundle') -}}" style="margin-right:20px;">

						</div>
					</fieldset>
				</form>
			</div>

			<div class="col-md-6">
				<div class="well lead">
					<h4 class="lead">Need an Account?</h4>
					<p class="">
						<a href="{{- path('fos_user_registration_register') -}}" class="btn btn-default btn-lg">
							Register&nbsp;
							<i class="glyphicon glyphicon-chevron-right"></i>
						</a>
					</p>
					<br>
					<h4 class="lead">Unable to Login?</h4>
					<p class="">
						<a href="{{- path('fos_user_resetting_request') -}}" class="btn btn-default btn-lg">
							{{- 'link.password.reset' |trans({}, 'CCDNUserUserBundle') -}}&nbsp;
							<i class="glyphicon glyphicon-chevron-right"></i>
						</a>
					</p>
				</div>
			</div>
		</div>
	{%- endspaceless -%}

{% endblock body_content %}
