{% extends ccdn_user_user.resetting.check_email.layout_template %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{- 'ccdn_user_user.title.reset.check_mail'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNUserUserBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}

{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	<h2>{{- 'ccdn_user_user.title.reset.check_mail'|trans({}, 'CCDNUserUserBundle') -}}</h2>

	<div class="well">
		<p>{{- 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') -}}</p>
	</div>

	{%- endspaceless -%}

{% endblock body_content %}
