{% extends param('ccdn_user_user.resetting.check_email.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{ 'title.reset.check_mail'|trans({}, 'CCDNUserUserBundle') }}{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
{% endblock %}

{% block body %}

{% for key, message in app.session.getFlashes() %}
<div class="bg_flash_message">
	<div class="flash_{{ key }}">
	    {{ message | trans({}, 'FOSUserBundle') }}
	</div>
</div>
{% endfor %}

<div class="section_wrap_standalone">
	<div class="section_header">
		<h2>{{ 'title.reset.check_mail'|trans({}, 'CCDNUserUserBundle') }}</h2>
	</div>
	
	<div class="section_panel">
		<p>{{ 'resetting.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
	</div>
</div>

{% endblock body %}