{% extends 'CCDNUserUserBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_user_user.resetting.check_email.layout_template  %}

{% block title %}{{- 'title.reset.check_mail'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{%- block crumb_trail -%}
	{%- spaceless -%}
		<ol class="breadcrumb">
			<li>
				<a href="{{- path('fos_user_security_login') -}}">
					Login
				</a>
			</li>
			<li>
				<a href="{{- path('fos_user_resetting_request') -}}">
					Request
				</a>
			</li>
			<li>
				<a href="{{- path('fos_user_resetting_check_email') -}}">
					Email Sent
				</a>
			</li>
		</ol>
	{%- endspaceless -%}
{%- endblock crumb_trail -%}


{% block body_content %}

	{%- spaceless -%}

	<header>
		<h3>{{- 'title.reset.check_mail'|trans({}, 'CCDNUserUserBundle') -}}</h3>
	</header>

	<section>
		<div class="well">
			<p class="lead">{{- 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') -}}</p>
		</div>
	</section>

	{%- endspaceless -%}

{% endblock body_content %}
