{% extends param('ccdn_user_user.resetting.password_already_requested.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{- 'title.reset.check_mail'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
	{%- include 'CCDNUserUserBundle:Sidebar:sidebar.html.twig' -%}
	
{% endblock %}

{% block body %}

	{%- spaceless -%}
	
	{%- for key, message in app.session.getFlashes() -%}
	<div class="bg_flash_message">
		<div class="flash_{{- key -}}">
		    {{- message | trans({}, 'FOSUserBundle') -}}
		</div>
	</div>
	{%- endfor -%}

	<h2>{{- 'title.reset.check_mail'|trans({}, 'CCDNUserUserBundle') -}}</h2>
	
	<div class="well">
		<p>{{- 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') -}}</p>
	</div>

	{%- endspaceless -%}
	
{% endblock body %}