{% extends ccdn_user_user.resetting.request.layout_template %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{- 'ccdn_user_user.title.reset.request'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNUserUserBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}

{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	<h2>{{- 'ccdn_user_user.title.reset.request'|trans({}, 'CCDNUserUserBundle') -}}</h2>

	<form action="{{- path('fos_user_resetting_send_email') -}}" method="POST" class="form-horizontal">
		<fieldset>
			{%- if invalid_username is defined -%}
				<p>{{- 'resetting.request.invalid_username'|trans({'%user_name%': invalid_username}, 'FOSUserBundle') -}}</p>
	        {%- endif -%}

			<div class="control-group">
				<label for="username" class="control-label">{{- 'resetting.request.username'|trans({}, 'FOSUserBundle') -}}</label>
				<div class="controls row-fluid">
					<input type="text" id="username" name="username" class="input-xlarge span8">
				</div>
			</div>

			<div class="form-actions">
		        <input type="submit" class="btn btn-primary" value="{{- 'resetting.request.submit'|trans({}, 'FOSUserBundle') -}}">
			</div>

		</fieldset>
	</form>

	{%- endspaceless -%}

{% endblock body_content %}
