<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
	<table class="common_list">
		<tbody>
			{% if invalid_username is defined %}
			<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
				<td class="form_tool_strip" colspan="2">
					<p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
				</td>
			</tr>
	        {% endif %}
			<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
				<td class="form_label"><label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label></td>
				<td class="form_widget"><input type="text" id="username" name="username"></td>
			</tr>	
			<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
				<td class="form_tool_strip" colspan="2">
			        <input type="submit" class="widget_submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}">
			    </td>
			</tr>
		</tbody>
	</table>
</form>