{% extends 'CCDNUserUserBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_user_user.resetting.request.layout_template  %}

{% block title %}{{- 'ccdn_user_user.title.reset.request'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{% block tool_bar %}{# clear out the tool bar for this page #}{% endblock tool_bar %}


{% block body_content %}

	{%- spaceless -%}

	<section>
		<form action="{{- path('fos_user_resetting_send_email') -}}" method="POST" class="form-horizontal">
			<fieldset>

				<div class="control-group">
					<div class="controls">
						<h3>{{- 'ccdn_user_user.title.reset.request'|trans({}, 'CCDNUserUserBundle') -}}</h3>
					</div>
				</div>

				{%- if invalid_username is defined -%}
					<p>{{- 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') -}}</p>
		        {%- endif -%}

				<div class="control-group">
					<label for="username" class="control-label">
						{{- 'resetting.request.username'|trans({}, 'FOSUserBundle') -}}
					</label>
					<div class="controls">
						<input type="text" id="username" name="username" class="input-xxlarge span10">
					</div>
				</div>

				<div class="form-actions">
			        <input type="submit" class="btn btn-primary" value="{{- 'resetting.request.submit'|trans({}, 'FOSUserBundle') -}}">
				</div>

			</fieldset>
		</form>
	</section>

	{%- endspaceless -%}

{% endblock body_content %}
