{% extends param('ccdn_user_user.resetting.reset.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{ 'title.reset.new_password'|trans({}, 'CCDNUserUserBundle') }}{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
	{% include 'CCDNUserUserBundle:Sidebar:sidebar.html.twig' %}
	
{% endblock %}

{% block body %}

	{% for key, message in app.session.getFlashes() %}
	<div class="bg_flash_message">
		<div class="flash_{{ key }}">
		    {{ message | trans({}, 'FOSUserBundle') }}
		</div>
	</div>
	{% endfor %}

	<h2>{{ 'title.reset.new_password'|trans({}, 'CCDNUserUserBundle') }}</h2>
	
	<div class="well">
		{% form_theme form param('ccdn_user_user.resetting.reset.form_theme') %}
		
		<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
			<fieldset>
				
				<div class="control-group">
					{{ form_label(form.new.first, null, { 'label': 'fos_user_change_password_form_new_first' |trans({}, 'FOSUserBundle')}) }}
					<div class="controls row-fluid">
						{{ form_errors(form.new.first) }}
						{{ form_widget(form.new.first) }}
					</div>
				</div>
				
				<div class="control-group">
					{{ form_label(form.new.second, null, { 'label': 'fos_user_resetting_form_new_second' |trans({}, 'FOSUserBundle')}) }}
					<div class="controls row-fluid">
						{{ form_errors(form.new.second) }}
						{{ form_widget(form.new.second) }}
					</div>
				</div>
				
				<div class="form-actions">
			        <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}">
				</div>
				
			</fieldset>
		</form>
	</div>


{% endblock body %}