{% form_theme form theme %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
	<table class="common_list">
		<thead>
			<th style="width: 30%;"></th>
			<th style="width: 70%;"></th>
		</thead>
		<tfoot>
		</tfoot>
		<tbody>
			<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
				<td class="h_align_right v_align_top">{{ form_label(form.new, null, { 'label': 'fos_user_change_password_form_new_first' |trans({}, 'FOSUserBundle')}) }}</td>
				<td class="h_align_left v_align_top">
					{{ form_errors(form.new) }}
					{{ form_widget(form.new) }}
				</td>
			</tr>
			<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
				<td class="h_align_right v_align_top">{{ form_label(form.new.second, null, { 'label': 'fos_user_resetting_form_new_second' |trans({}, 'FOSUserBundle')}) }}</td>
				<td class="h_align_left v_align_top">
					{{ form_errors(form.second) }}
					{{ form_widget(form.second) }}
				</td>
			</tr>
			<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
				<td class="h_align_centre v_align_middle" colspan="2">
			        <input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
			    </td>
			</tr>
		</tbody>
	</table>
</form>