{% extends 'CCDNUserUserBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_user_user.registration.check_email.layout_template %}

{% block title %}{{- 'title.register.activation.pending'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{%- block crumb_trail -%}
	{%- spaceless -%}
		<ol class="breadcrumb">
			<li>
				<a href="{{- path('ccdn_user_user_registration_terms') -}}">
					Agreement
				</a>
			</li>
			<li>
				<a href="{{- path('fos_user_registration_register') -}}">
					Register
				</a>
			</li>
		</ol>
	{%- endspaceless -%}
{%- endblock crumb_trail -%}

{% block body_content %}

	{%- spaceless -%}

	<header>
		<h3>{{- 'title.register.activation.pending'|trans({}, 'CCDNUserUserBundle') -}}</h3>
	</header>

	<section>
		<div class="well">
			<p>{{- 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') -}}</p>
		</div>
	</section>

	{%- endspaceless -%}

{% endblock body_content %}
