{% extends param('ccdn_user_user.registration.confirmed.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{- 'ccdn_user_user.title.register.activation.confirmed'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNUserUserBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}

{% block body %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	<h2>{{- 'ccdn_user_user.title.register.activation.confirmed'|trans({}, 'CCDNUserUserBundle') -}}</h2>

	<div class="well">
	    <p>{{- 'registration.confirmed'|trans({'%user_name%': user.username}, 'FOSUserBundle') -}}</p>
	    {%- if app.session is not empty -%}
	        {%- set targetUrl = app.session.get('_security.target_path') -%}
	        {%- if targetUrl is not empty -%}<p><a href="{{- targetUrl -}}">{{- 'registration.back'|trans({}, 'FOSUserBundle') -}}</a></p>{%- endif -%}
	    {%- endif -%}
	</div>

	{%- endspaceless -%}

{% endblock body %}
