{% extends param('ccdn_user_user.registration.confirmed.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{ 'title.register.activation.confirmed'|trans({}, 'CCDNUserUserBundle') }}{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
{% endblock %}

{% block body %}

{% for key, message in app.session.getFlashes() %}
<div class="bg_flash_message">
	<div class="flash_{{ key }}">
	    {{ message | trans({}, 'FOSUserBundle') }}
	</div>
</div>
{% endfor %}

<div class="section_wrap_standalone">
	<div class="section_header">
		<h2>{{ 'title.register.activation.confirmed'|trans({}, 'CCDNUserUserBundle') }}</h2>
	</div>
	
	<div class="section_panel">
	    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
	    {% if app.session is not empty %}
	        {% set targetUrl = app.session.get('_security.target_path') %}
	        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
	    {% endif %}
	</div>
</div>

{% endblock body %}

