{% extends 'CCDNUserUserBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_user_user.registration.confirmed.layout_template %}

{% block title %}{{- 'title.register.activation.confirmed'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{% block tool_bar %}{# clear out the tool bar for this page #}{% endblock tool_bar %}

{% block sidebar %}
	{%- include 'CCDNUserUserBundle:Sidebar:sidebar_register.html.twig' -%}
{% endblock sidebar %}

{%- block navbar_site_primary -%}
	{%- include 'CCDNUserUserBundle::header_alt_register.html.twig' -%}
{%- endblock navbar_site_primary -%}

{% block body_content %}

	{%- spaceless -%}

	<header>
		<h3>{{- 'title.register.activation.confirmed'|trans({}, 'CCDNUserUserBundle') -}}</h3>
	</header>

	<section>
	    <p>{{- 'registration.confirmed'|trans({'%username%': '<bdi><b>' ~ user.username ~ '</b></bdi>'}, 'FOSUserBundle') |raw -}}</p>
	</section>

	    {%- if app.session is not empty -%}
	        {%- set targetUrl = app.session.get('_security.target_path') -%}
	        {%- if targetUrl is not empty -%}
				<section>

					<p>
						<a href="{{- targetUrl -}}">{{- 'registration.back'|trans({}, 'FOSUserBundle') -}}</a>
					</p>
				</section>
			{%- endif -%}
	    {%- endif -%}

	<section>
		<br><br>

		<span class="lead">Whats next?</span>

		<br><br>

		<ol>
			<li>
				<a href="{{- path('ccdn_user_profile_show') -}}">Add Your Profile</a>
			</li>
			<li>
				<a href="{{- path('ccdn_forum_user_category_index') -}}">Visit Forum</a>
			</li>
		</ol>
	</section>

	{%- endspaceless -%}

{% endblock body_content %}
