{% extends param('ccdn_user_user.registration.layout_templates.register') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{ 'title.register'|trans({}, 'CCDNUserUserBundle') }}{% endblock %}

{% block sidebar %}
	{% if is_granted('ROLE_MODERATOR') %}
	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</span></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_cp') }}">{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% if is_granted('ROLE_ADMIN') %}
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_forum_cp') }}">{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% endif %}
	</div>
	{% endif %}
{% endblock %}

{% block body %}

{% for key, message in app.session.getFlashes() %}
<div class="section_wrap_square padding_5 bg_flash_message">
	<div class="flash_{{ key }}">
	    {{ message | trans({}, 'FOSUserBundle') }}
	</div>
</div>
{% endfor %}

<div class="section_wrap_square">
	<div class="section_header">
		<h2>{{ 'title.register'|trans({}, 'CCDNUserUserBundle') }}</h2>
	</div>
	
	<div class="section_table_panel">
		{% form_theme form theme %}

		<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
			{{ form_row(form._token) }}
			<div class="errors">{{ form_errors(form) }}</div>
			<table class="common_list">
				<tbody>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_label">{{ form_label(form.username, null, { 'label': 'fos_user_registration_form_username' |trans({}, 'FOSUserBundle')}) }}</td>
						<td class="form_widget">
							{{ form_errors(form.username) }}
							{{ form_widget(form.username) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_label">{{ form_label(form.email, null, { 'label': 'fos_user_registration_form_email' |trans({}, 'FOSUserBundle')}) }}</td>
						<td class="form_widget">
							{{ form_errors(form.email) }}
							{{ form_widget(form.email) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_label">{{ form_label(form.plainPassword.first, null, { 'label': 'fos_user_registration_form_plainPassword_first' |trans({}, 'FOSUserBundle')}) }}</td>
						<td class="form_widget">
							{{ form_errors(form.plainPassword.first) }}
							{{ form_widget(form.plainPassword.first) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_label">{{ form_label(form.plainPassword.second, null, { 'label': 'form.label.verify_password' |trans({}, 'CCDNUserUserBundle')}) }}</td>
						<td class="form_widget">
							{{ form_errors(form.plainPassword.second) }}
							{{ form_widget(form.plainPassword.second) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_label">{{ form_label(form.recaptcha, null, { 'label': 'form.label.recaptcha' |trans({}, 'CCDNUserUserBundle')}) }}</td>
						<td class="form_widget">
							{{ form_errors(form.recaptcha) }}
							{% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}
							{{ form_widget(form.recaptcha) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_tool_strip" colspan="2">
							<input type="submit" class="widget_submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		
	</div>
</div>

{% endblock body %}