{% extends 'CCDNUserUserBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_user_user.password.change_password.layout_template %}

{% block title %}{{- 'ccdn_user_user.title.password.change'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<section>
		{%- form_theme form ccdn_user_user.password.change_password.form_theme -%}
		<form action="{{- path('fos_user_change_password') -}}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
			<fieldset>
			
				<div class="control-group">
					<div class="controls">
						<h3>{{- 'heading.edit.password' |trans({}, 'CCDNUserUserBundle') -}}</h3>
					</div>
				</div>
			
				{{- form_errors(form) -}}
			
				{{- form_widget(form) -}}

				<div class="form-actions">
			        <input type="submit" class="btn btn-danger" value="{{- 'change_password.submit'|trans({}, 'FOSUserBundle') -}}">
				
					<a class="btn" href="{{- path('ccdn_user_user_account_show') -}}">
						{{- 'ccdn_user_user.form.button.cancel' |trans({}, 'CCDNUserUserBundle') -}}
					</a>
				</div>
			
			</fieldset>
		</form>
	</section>
	
	{%- endspaceless -%}

{% endblock body_content %}
