{% extends ccdn_user_user.password.change_password.layout_template %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{- 'ccdn_user_user.title.password.change'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNUserUserBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}

{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	<h2>{{- app.user.getUsername |capitalize -}}</h2>

	<br>

	<ul class="nav nav-tabs">
		<li><a href="{{- path('ccdn_user_user_account_show') -}}"><i class="icon-cog"></i>&nbsp;{{- 'ccdn_user_user.link.account.overview' | trans({}, 'CCDNUserUserBundle') -}}</a></li>
		<li class="active"><a href="{{- path('fos_user_change_password') -}}"><i class="icon-cog"></i>&nbsp;{{- 'ccdn_user_user.link.password.change' | trans({}, 'CCDNUserUserBundle') -}}</a></li>
	</ul>

	{%- form_theme form ccdn_user_user.password.change_password.form_theme -%}
	<form action="{{- path('fos_user_change_password') -}}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
		<fieldset>
			{{- form_errors(form) -}}
			
			{{- form_widget(form) -}}

			<div class="form-actions">
		        <input type="submit" class="btn btn-danger" value="{{- 'change_password.submit'|trans({}, 'FOSUserBundle') -}}">&nbsp;
				<a class="btn" href="{{- path('ccdn_user_user_account_show') -}}">{{- 'ccdn_user_user.form.button.cancel' |trans({}, 'CCDNUserUserBundle') -}}</a>
			</div>
			
		</fieldset>
	</form>

	{%- endspaceless -%}

{% endblock body_content %}
