{% extends ccdn_user_user.password.change_password.layout_template %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{- 'ccdn_user_user.title.password.change'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNUserUserBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}

{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	<h2>{{- app.user.getUsername |capitalize -}}</h2>

	<br>

	<ul class="nav nav-tabs">
		<li><a href="{{- path('ccdn_user_user_account_show') -}}"><i class="icon-cog"></i>&nbsp;{{- 'ccdn_user_user.link.account.overview' | trans({}, 'CCDNUserUserBundle') -}}</a></li>
		<li class="active"><a href="{{- path('fos_user_change_password') -}}"><i class="icon-cog"></i>&nbsp;{{- 'ccdn_user_user.link.password.change' | trans({}, 'CCDNUserUserBundle') -}}</a></li>
	</ul>

	{%- form_theme form ccdn_user_user.password.change_password.form_theme -%}
	<form action="{{- path('fos_user_change_password') -}}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
		<fieldset>
			{{ form_widget(form) }}
			{#
			{{- form_errors(form) -}}

			<div class="control-group"><div class="controls row-fluid">{{- form_row(form._token) -}}</div></div>

			<div class="control-group{{- (form.current_password.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.current_password, null, { 'label': 'form.current_password' |trans({}, 'FOSUserBundle')}) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.current_password) -}}
					{{- form_widget(form.current_password) -}}
				</div>
			</div>

			<div class="control-group{{- (form.new.first.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.new.first, null, { 'label': 'form.new_password' |trans({}, 'FOSUserBundle')}) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.new.first) -}}
					{{- form_widget(form.new.first) -}}
				</div>
			</div>

			<div class="control-group{{- (form.new.second.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.new.second, null, { 'label': 'form.new_password_confirmation' |trans({}, 'FOSUserBundle')}) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.new.second) -}}
					{{- form_widget(form.new.second) -}}
				</div>
			</div>

			<div class="form-actions">
		        <input type="submit" class="btn btn-danger" value="{{- 'change_password.submit'|trans({}, 'FOSUserBundle') -}}">&nbsp;
				<a class="btn" href="{{- path('ccdn_user_user_account_show') -}}">{{- 'ccdn_user_user.form.button.cancel' |trans({}, 'CCDNUserUserBundle') -}}</a>
			</div>
			#}
		</fieldset>
	</form>

	{%- endspaceless -%}

{% endblock body_content %}
