{% form_theme form theme %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
	{{ form_row(form._token) }}
	<div class="errors">{{ form_errors(form) }}</div>
	<table class="common_list">
		<tbody>
			<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
				<td class="form_label">{{ form_label(form.current, null, { 'label': 'fos_user_change_password_form_current' |trans({}, 'FOSUserBundle')}) }}</td>
				<td class="form_widget">
					{{ form_errors(form.current) }}
					{{ form_widget(form.current) }}
				</td>
			</tr>	
			<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
				<td class="form_label">{{ form_label(form.new.first, null, { 'label': 'fos_user_change_password_form_new_first' |trans({}, 'FOSUserBundle')}) }}</td>
				<td class="form_widget">
					{{ form_errors(form.new.first) }}
					{{ form_widget(form.new.first) }}
				</td>
			</tr>
			<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
				<td class="form_label">{{ form_label(form.new.second, null, { 'label': 'form.label.verify_password' |trans({}, 'CCDNUserUserBundle')}) }}</td>
				<td class="form_widget">
					{{ form_errors(form.new.second) }}
					{{ form_widget(form.new.second) }}
				</td>
			</tr>
			<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
				<td class="form_tool_strip" colspan="2">
			        <input type="submit" class="widget_submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}">
			    </td>
			</tr>
		</tbody>
	</table>
</form>