{% extends param('ccdn_user_user.password.change_password.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{- 'title.password.change'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNUserUserBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}

{% block body %}

	{%- spaceless -%}

	{%- for key, message in app.session.getFlashes() -%}
	<div class="bg_flash_message">
		<div class="flash_{{- key -}}">
		    {{- message | trans({}, 'FOSUserBundle') -}}
		</div>
	</div>
	{%- endfor -%}

	<h2>{{- app.user.getUsername |capitalize -}}</h2>

	<br>

	<ul class="nav nav-tabs">
		<li><a href="{{- path('cc_user_account_show') -}}"><i class="icon-cog"></i>&nbsp;{{- 'link.account.overview' | trans({}, 'CCDNUserUserBundle') -}}</a></li>
		<li class="active"><a href="{{- path('fos_user_change_password') -}}"><i class="icon-cog"></i>&nbsp;{{- 'link.password_change' | trans({}, 'CCDNUserUserBundle') -}}</a></li>
	</ul>

	{%- form_theme form param('ccdn_user_user.password.change_password.form_theme') -%}
	<form action="{{- path('fos_user_change_password') -}}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
		<fieldset>

			{{- form_errors(form) -}}

			<div class="control-group"><div class="controls row-fluid">{{- form_row(form._token) -}}</div></div>

			<div class="control-group{{- (form.current.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.current, null, { 'label': 'fos_user_change_password_form_current' |trans({}, 'FOSUserBundle')}) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.current) -}}
					{{- form_widget(form.current) -}}
				</div>
			</div>

			<div class="control-group{{- (form.new.first.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.new.first, null, { 'label': 'fos_user_change_password_form_new_first' |trans({}, 'FOSUserBundle')}) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.new.first) -}}
					{{- form_widget(form.new.first) -}}
				</div>
			</div>

			<div class="control-group{{- (form.new.second.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.new.second, null, { 'label': 'form.label.verify_password' |trans({}, 'CCDNUserUserBundle')}) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.new.second) -}}
					{{- form_widget(form.new.second) -}}
				</div>
			</div>

			<div class="form-actions">
		        <input type="submit" class="btn btn-danger" value="{{- 'change_password.submit'|trans({}, 'FOSUserBundle') -}}">
			</div>

		</fieldset>
	</form>

	{%- endspaceless -%}

{% endblock body %}
