{% extends 'CCDNUserUserBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_user_user.password.change_password.layout_template %}

{% block title %}{{- 'title.password.change'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{%- block crumb_trail -%}
	{%- spaceless -%}
		<ol class="breadcrumb">
			<li>
				<a href="{{- path('ccdn_user_user_account_show') -}}">
					Account Overview
				</a>
			</li>
			<li>
				<a href="{{- path('fos_user_change_password') -}}">
					Change Password
				</a>
			</li>
		</ol>
	{%- endspaceless -%}
{%- endblock crumb_trail -%}

{% block body_content %}

	{%- spaceless -%}

	<section>
		{%- form_theme form ccdn_user_user.password.change_password.form_theme -%}
		<form action="{{- path('fos_user_change_password') -}}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
			<fieldset>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<h4>{{- 'heading.edit.password' |trans({}, 'CCDNUserUserBundle') -}}</h4>
					</div>
				</div>

				{{- form_errors(form) -}}

				{{- form_widget(form) -}}

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
				        <input type="submit" class="btn btn-danger" value="{{- 'change_password.submit'|trans({}, 'FOSUserBundle') -}}">

						<a class="btn btn-default" href="{{- path('ccdn_user_user_account_show') -}}">
							{{- 'form.button.cancel' |trans({}, 'CCDNUserUserBundle') -}}
						</a>
					</div>
				</div>

			</fieldset>
		</form>
	</section>

	{%- endspaceless -%}

{% endblock body_content %}
