{% extends ccdn_user_user.account.edit.layout_template %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{- 'ccdn_user_user.title.account.edit' |trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNUserUserBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}

{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	<h2>{{- app.user.getUsername |capitalize -}}</h2>

	<br>

	<ul class="nav nav-tabs">
		<li class="active"><a href="{{- path('ccdn_user_user_account_show') -}}"><i class="icon-cog"></i>&nbsp;{{- 'ccdn_user_user.link.account.overview' | trans({}, 'CCDNUserUserBundle') -}}</a></li>
		<li><a href="{{- path('fos_user_change_password') -}}"><i class="icon-cog"></i>&nbsp;{{- 'ccdn_user_user.link.password.change' | trans({}, 'CCDNUserUserBundle') -}}</a></li>
	</ul>

	{%- form_theme form ccdn_user_user.account.edit.form_theme -%}
	<form action="{{- path('ccdn_user_user_account_edit') -}}" method="POST" {{ form_enctype(form) }} class="form-horizontal">
		<fieldset>

			{{- form_errors(form) -}}

			<div class="control-group"><div class="controls row-fluid">{{- form_row(form._token) -}}</div></div>

			<div class="control-group{{- (form.user.username.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.user.username, null, { 'label': 'fos_user_profile_form_user_username' |trans({}, 'FOSUserBundle')}) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.user.username) -}}
					{{- form_widget(form.user.username) -}}
				</div>
			</div>

			<div class="control-group{{- (form.user.email.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.user.email, null, { 'label': 'fos_user_profile_form_user_email' |trans({}, 'FOSUserBundle')}) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.user.email) -}}
					{{- form_widget(form.user.email) -}}
				</div>
			</div>

			<div class="control-group{{- (form.current.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.current, null, { 'label': 'fos_user_profile_form_current' |trans({}, 'FOSUserBundle')}) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.current) -}}
					{{- form_widget(form.current) -}}
				</div>
			</div>

			<div class="form-actions">
		        <input type="submit" class="btn btn-danger" value="{{- 'profile.edit.submit'|trans({}, 'FOSUserBundle') -}}">&nbsp;
				<a class="btn" href="{{- path('ccdn_user_user_account_show') -}}">{{- 'ccdn_user_user.form.button.cancel' |trans({}, 'CCDNUserUserBundle') -}}</a>
			</div>

		</fieldset>
	</form>

	{%- endspaceless -%}

{% endblock body_content %}
