	<table class="common_list">
		<tbody>
			<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
				<td class="form_label">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}:</td>
				<td class="form_widget">{{ user.username }}</td>
			</tr>	
			<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
				<td class="form_label">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}:</td>
				<td class="form_widget">{{ user.email }}</td>
			</tr>
			<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
				<td class="form_label">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</td>
				<td class="form_widget"><a href="{{ path('fos_user_change_password') }}">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</a></td>
			</tr>
			<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
				<td class="form_tool_strip" colspan="2">
						<a href="{{ path('cc_user_account_edit') }}">{{ 'link.profile.edit' |trans({}, 'CCDNUserProfileBundle') }}</a>
			    </td>
			</tr>
		</tbody>
	</table>