{% extends 'CCDNUserUserBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_user_user.account.show.layout_template  %}

{% block title %}{{- 'ccdn_user_user.title.account.show' |trans({'%user_name%': user.getUsername }, 'CCDNUserUserBundle') -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<section>
		<nav class="btn-toolbar">
			<a class="btn" href="{{- path('ccdn_user_user_account_edit') -}}"><i class="icon-cog"></i>{{- 'ccdn_user_user.link.account.edit' |trans({}, 'CCDNUserUserBundle') -}}</a>
			<a class="btn" href="{{- path('fos_user_change_password') -}}"><i class="icon-cog"></i>{{- 'ccdn_user_user.link.password.change' | trans({}, 'CCDNUserUserBundle') -}}</a>
		</nav>
	
		<table class="table table-striped table-bordered">
			<tbody>
				<tr class="{{- cycler(['row_odd', 'row_even'], 'cycle') -}}">
					<td class="right">{{- 'profile.show.username'|trans({}, 'FOSUserBundle') -}}:</td>
					<td class="left">{{- user.username -}}</td>
				</tr>
				<tr class="{{- cycler(['row_odd', 'row_even'], 'cycle') -}}">
					<td class="right">{{- 'profile.show.email'|trans({}, 'FOSUserBundle') -}}:</td>
					<td class="left">{{- user.email -}}</td>
				</tr>
				{%- if user.facebookId is not defined -%}
					<tr class="{{- cycler(['row_odd', 'row_even'], 'cycle') -}}">
						<td class="right">{{- 'security.login.password'|trans({}, 'FOSUserBundle') -}}</td>
						<td class="left"><a href="{{- path('fos_user_change_password') -}}">{{- 'change_password.submit'|trans({}, 'FOSUserBundle') -}}</a></td>
					</tr>
				{%- endif -%}
			</tbody>
		</table>
	</section>
	
	{%- include 'CCDNUserUserBundle:Footer:footer.html.twig' -%}
	
	{%- endspaceless -%}

{% endblock body_content %}
