{% extends param('ccdn_user_user.account.layout_templates.show') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{ 'title.account.show' |trans({'%user_name%': user.getUsername }, 'CCDNUserUserBundle') }}{% endblock %}

{% block sidebar %}
	{% if is_granted('ROLE_MODERATOR') %}
	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</span></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_cp') }}">{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% if is_granted('ROLE_ADMIN') %}
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_forum_cp') }}">{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% endif %}
	</div>
	{% endif %}

	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">Tools</span></div>
		{% if is_granted('ROLE_USER') %}
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_user_account_show') }}">{{ 'sidebar.link.account.view'|trans({}, 'CCDNUserProfileBundle') }}</a></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_profile_show') }}">View Profile</a></div>
		{% endif %}
	</div>
{% endblock %}

{% block body %}

{% for key, message in app.session.getFlashes() %}
<div class="section_wrap_square padding_5 bg_flash_message">
	<div class="flash_{{ key }}">
	    {{ message | trans({}, 'FOSUserBundle') }}
	</div>
</div>
{% endfor %}

<div class="section_wrap_square">
	<div class="section_header">
		<h2>{{ 'title.account.show' |trans({'%user_name%': user.getUsername }, 'CCDNUserUserBundle') }}</h2>
	</div>

	<div class="section_tool_strip">
		<a class="button_link" href="{{ path('cc_user_account_edit') }}">{{ 'link.profile.edit' |trans({}, 'CCDNUserProfileBundle') }}</a>
	</div>
	
	<div class="section_table_panel">
		<table class="common_list">
			<tbody>
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right"><span class="table_label">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}:</span></td>
					<td class="left"><span class="table_data">{{ user.username }}</span></td>
				</tr>	
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right"><span class="table_label">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}:</span></td>
					<td class="left"><span class="table_data">{{ user.email }}</span></td>
				</tr>
                {% if user.facebookId is not defined %}
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right"><span class="table_label">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</span></td>
					<td class="left"><span class="table_data"><a href="{{ path('fos_user_change_password') }}">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</a></span></td>
				</tr>
                {% endif %}
			</tbody>
		</table>
	</div>
</div>
{% endblock body %}