
{% block field_errors %}{# errors for next to each field #}
	{%- spaceless -%}
	    {%- if errors|length > 0 -%}
			<div class="alert alert-error alert-block span8">
			    <ul>
			        {%- for error in errors -%}
			            <li>
	                        {{
	                        error.messagePluralization is null
	                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
	                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
	                        }}
	                    </li>
			        {%- endfor -%}
			    </ul>
			</div>
	    {%- endif -%}
	{%- endspaceless -%}
{% endblock field_errors %}



{% block form_errors %}{# for the overall form #}
	{%- spaceless -%}
	    {%- if errors|length > 0 -%}
			<div class="alert alert-error alert-block span8">
			    <ul>
			        {%- for error in errors -%}
			            <li>
							{{
	                        error.messagePluralization is null
	                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
	                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
	                        }}
	                    </li>
			        {%- endfor -%}
			    </ul>
			</div>
	    {%- endif -%}
	{%- endspaceless -%}
{% endblock form_errors %}



{% block form_widget %}
	{% spaceless %}
	    {% if compound %}
	        {{ block('form_widget_compound') }}
	    {% else %}
	        {#{{ block('form_widget_simple') }}#}
			{{ block('form_row') }}
	    {% endif %}
	{% endspaceless %}
{% endblock form_widget %}

	{% block form_widget_simple %}
		{% spaceless %}
		    {% set type = type|default('text') %}
		    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
		{% endspaceless %}
	{% endblock form_widget_simple %}

	{% block form_widget_compound %}
		{% spaceless %}
		    <div {{ block('widget_container_attributes') }}>
		        {% if form.parent is empty %}
		            {{ form_errors(form) }}
		        {% endif %}
		        {{ block('form_rows') }}
		        {{ form_rest(form) }}
		    </div>
		{% endspaceless %}
	{% endblock form_widget_compound %}



{% block form_row %}
	{%- spaceless -%}
		<div class="control-group{{- (form.vars.errors|length > 0) ? ' error': '' -}}">
			{{- form_label(form) -}}
			<div class="controls row-fluid">
				{{- form_errors(form) -}}
				{{- form_widget(form) -}}
			</div>
		</div>
	{%- endspaceless -%}
{% endblock form_row %}



{% block field_label %}
	{%- spaceless -%}
		{%- set attr = attr|merge({ 'class': attr.class|default('') ~ ' control-label'}) -%}
	    <label for="{{- id -}}" {{ block('widget_attributes') -}}>
			{{- label |trans({}, translation_domain) -}}
			{%- if required -%}
				<span style="color:#f00;" title="{{- 'ccdn_user_user.form.field.required' |trans({}, 'CCDNUserUserBundle') -}}">*</span>
			{%- endif -%}
		</label>
	{%- endspaceless -%}
{% endblock field_label %}



{% block field_widget %}
	{%- spaceless -%}
	    {%- set type = type|default('text') -%}
		{%- set attr = attr|merge({ 'class': attr.class|default('') ~ ' input-xxlarge span8'}) -%}
	    <input type="{{- type -}}" value="{{- value -}}" {{ block('widget_attributes') -}} />
	{%- endspaceless -%}
{% endblock field_widget %}



{% block email_widget %}
	{%- spaceless -%}
	    {%- set type = type|default('text') -%}
		{%- set attr = attr|merge({ 'class': attr.class|default('') ~ ' input-xxlarge span8'}) -%}
		<div class="input-prepend row-fluid">
			<span class="add-on"><i class="icon-envelope"></i></span>
		    <input type="{{- type -}}" value="{{- value -}}" {{ block('widget_attributes') -}} />
		</div>
	{%- endspaceless -%}
{% endblock email_widget %}



{% block password_widget %}
	{%- spaceless -%}
	    {%- set type = type|default('text') -%}
		{%- set attr = attr|merge({ 'class': attr.class|default('') ~ ' input-xxlarge span8'}) -%}
		<div class="input-prepend row-fluid">
			<span class="add-on"><i class="icon-lock"></i></span>
		    <input type="{{- type -}}" value="{{- value -}}" {{ block('widget_attributes') -}} />
		</div>
	{%- endspaceless -%}
{% endblock password_widget %}



{% block textarea_widget %}
	{%- spaceless -%}
		{%- set attr = attr|merge({ 'class': attr.class|default('') ~ ' text-xlarge span8', 'style': attr.style|default('') ~ 'height:250px;'}) -%}
	    <textarea {{ block('widget_attributes') -}}>{{- value -}}</textarea>
	{%- endspaceless -%}
{% endblock textarea_widget %}



{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            {%- set attr = attr|merge({'class': attr.class|default('') ~ ' span8'}) -%}
            <div {{ block('widget_container_attributes') }}>
                <table class="table table-condensed">
                    <tbody>
                    {% for child in form %}
                        <tr>
                            <td>{{ form_widget(child) }}</td>
                            <td>{{ form_label(child) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                {% if empty_value is not none %}
                    <option value="">{{ empty_value|trans }}</option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('widget_choice_options') }}
                    {% if choices|length > 0 %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('widget_choice_options') }}
            </select>
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}



{% block ewz_recaptcha_widget %}
	{% spaceless %}
	    {% if form.vars.ewz_recaptcha_enabled %}
			<div class="control-group" style="clear:both;float:left;">
				<div class="controls row-fluid">
			        {% if attr.options is defined %}
			            <script type="text/javascript">
			                var RecaptchaOptions = {{ attr.options|json_encode|raw }}
			            </script>
			        {% endif %}
			        <script src="{{ form.vars.url_challenge }}" type="text/javascript"></script>
			        <noscript>
			            <iframe src="{{ form.vars.url_noscript }}" height="300" width="500"></iframe><br/>
			            <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
			            <input type="hidden" name="recaptcha_response_field" value="manual_challenge"/>
			        </noscript>
				</div>
			</div>
	    {% endif %}
	{% endspaceless %}
{% endblock ewz_recaptcha_widget %}
